.auth {
    max-width: 350px;
    margin: 200px auto 0 auto;
    }

.auth__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.auth-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.auth__text {
    padding: 5px;
    height: 15px;
    
}

.auth__check {
    padding: 10px 0;
    display: flex;
    align-items: center;
    }

.auth__btn {
    margin: 0 auto;
    padding: 2px 40px;
    background: green;
    color: white;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}
.auth__btn:hover {
    color: greenyellow;
    background: darkgreen;
    border-radius: 50%;
}